.icon-humidity {
  & path:nth-child(1) {
    animation: slow-drop 4s linear 0.3s infinite;
  }
  & path:nth-child(2) {
    animation: slow-drop 6s linear 0.6s infinite;
  }
  & path:nth-child(3) {
    animation: slow-drop 4s linear 0.9s infinite;
  }
  & path:nth-child(4) {
    animation: slow-drop 6s linear 0.12s infinite;
  }
  & path:nth-child(5) {
    animation: slow-drop 4s linear 0.15s infinite;
  }
  & path:nth-child(6) {
    animation: slow-drop 6s linear 0.18s infinite;
  }

  @keyframes slow-drop {
    0% {
      opacity: 0;
      transform: translate(2px, -6px);
    }
    25% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: translate(-6px, 0);
    }
  }
}
